$primeColor : #333;
$secndColor : white;
$thirdColor : red;

$primeColor2 : black;

body{
  word-wrap: break-word;
  background: $primeColor;
}

.shadow{
  -webkit-box-shadow: 0px 2px 4px 0px $primeColor2;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 4px 0px $primeColor2;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 4px 0px $primeColor2;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#helpbutton{
  position: absolute;
  right:0;
  top:0;
  background-color: rgba(0,0,0,0);
  text-shadow: none;
  color:rgba(0,0,0,.3);
  font-size:3em;
  margin:2px;
  cursor: default;
  z-index: 102;
  display:none;
}

#playertabletoggle{
  right:0;
  top:0;
  position:fixed;
  z-index: 101;
  overflow-x:auto;
  max-width: 100%;
  display:none;
  h4 {
    text-shadow: none;
    margin-top: 0;
  }
}

table{
  margin: 0px auto;
  text-shadow:none;
  color:$secndColor;
  text-align:center;
  padding:10px;
  border:1px solid $primeColor;
  border-radius:10px;
  padding:10px;
}
th h3{
  margin-top:10px;
}
td h4{
  margin:5px auto;
}
th, td {
  padding: 5px;
}
tr:nth-child(even){background-color: $primeColor2}
tr:nth-child(odd){background-color: $primeColor}

.halfscreen{
	position:relative;
	height:50%;
	margin-bottom: 0;
	text-align: center;
	overflow-y: auto;
  text-shadow: 1px 1px $thirdColor;
  padding-top:20px;
}

#topTron{
	height:35%;
	background-color: navy;
	color: $secndColor;
  display:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  background: #282537;
  background-image: -webkit-radial-gradient(bottom, circle cover, $primeColor2 0%, $primeColor 75%);
  background-image: -moz-radial-gradient(bottom, circle cover, $primeColor2 0%, $primeColor 75%);
  background-image: -o-radial-gradient(bottom, circle cover, $primeColor2 0%, $primeColor 75%);
  background-image: radial-gradient(bottom, circle cover, $primeColor2 0%, $primeColor 75%);
}

#botTron{
	height:65%;
	color: $secndColor;
  display:none;
  overflow-x: auto;
  overflow-y: auto;
  background-image: -webkit-radial-gradient(top, circle cover, $primeColor2 0%, $primeColor 95%);
  background-image: -moz-radial-gradient(top, circle cover, $primeColor2 0%, $primeColor 95%);
  background-image: -o-radial-gradient(top, circle cover, $primeColor2 0%, $primeColor 95%);
  background-image: radial-gradient(top, circle cover, $primeColor2 0%, $primeColor 95%);
}

#topText{
	width:100%;
	text-align: center;
	position: absolute;
	bottom:0;
	margin-bottom: 5px;
	max-height: 100%;
  display:none;
  h3{
    display:none;
    margin-top: 10px;
    display: none;
  }
}

#fL{
  text-shadow: 2px 2px $thirdColor;
}

#botText{
	width:100%;
	text-align: center;
	position: absolute;
	top:0;
	overflow-y: auto;
  padding-bottom: 10px;
  height: 100%;
  h3{
    margin-top:10px
  }
}

.gamebtn{
	color:$secndColor;
	background-color:$primeColor;
	text-shadow: 1px 1px #ff0000;
	border:solid;
  border-radius:2px;
	border-width: 1.5px;
  border-color: $primeColor;
	margin:8px;
	padding:6px 12px;
  &:hover{
    background-color:$primeColor2;
  }
}

.rnd-gb{
  border-color: black;
  color: black;
  border-width: 2px;
  text-shadow: none;
  i{
    font-size:18px
  }
}

#instr{
	text-shadow: none;
  display: none;		
}

#playersignup {
  display:none;
  h3{
    margin-bottom: 0px
  }
}
#playersignupinput {
  color:white;
  background-color:$primeColor;
  margin:18px 8px;
  padding:2px;
  border:solid;
  border-radius:2px;
  border-width: 1px;
  border-color:$primeColor;
  max-width: 50%;
  margin-right: 0
}

#playersignuplistelem {
  padding:4px 4px;
  padding-left:4px;
  max-width: 300px
}

#gamestartbtn{
  margin:2px;
  display:none;
  h3{
    margin:0
  }
}

#askquestioninput {
  color:white;
  background-color:$primeColor;
  margin:18px 8px;
  padding:2px;
  padding-bottom: 2px;
  border:solid;
  border-radius:2px;
  border-color:$primeColor;
  border-width: 1px;
  max-width: 50%;
}
#playersignuplist{
  text-shadow: none;
  list-style: none;
  padding:0;
  margin-top:0px;
  margin-bottom: 2px;
  word-wrap: break-word;
}
#addplayerbtn{
  border-radius: 100%;
  background-color: rgba(0,220,0,1);
  margin-left:0px;
  padding:6px;
  display:inline-flex;
}

#playerreq, #questionreq, #dupnames{
  text-shadow: 1px 1px black;
  color: $thirdColor;
  font-weight: bold;
  margin-bottom:5px;
}

#questionreq, #dupnames{
  display:none;
}

#askquestionbtn{
  border-radius: 100%;
  background-color: rgba(0,220,0,1);
  margin-left:0px;
  padding:6px;
  display:inline-flex;
}
#guessquestionbtn{
  border-radius: 100%;
  background-color: yellow;
  margin-left:0px;
  padding:6px;
  display:inline-flex;
}
#removeplayerbtn{
  border-radius: 100%;
  margin:2px 6px;
  background-color: rgba(255,0,0,1);
  margin-left:0px;
  padding:6px;
}

#answerInput{
  border-radius: 2px;
  border-color: navy;
  max-width: 50%;
  border-width: 1px;
  padding:2px;
  color:$secndColor;
  background:$primeColor;
}

#addanswerbtn{
  border-radius: 100%;
  background-color: rgba(0,220,0,1);
  margin-left:0px;
  padding:6px;
  display:inline-flex;
}

#flex-input{
  display: flex;
}
.guesses{
  margin-bottom: 15px;
  border-top:1px solid #3A5FCD;
  max-width: 50%;
  margin-left:auto;
  margin-right: auto;
  min-width: 300px;
}
#guesswrap .guesses:first-child{
  border-top: none;
}