<!--  Dominic Balassone
  Lock and Load
  -->
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="/public/img/bubble.png"/>
    <meta name="description" content="Don't shoot yourself in the foot!">
    <meta name="author" content="Dominic Balassone">
    <title>Loaded Questions</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- underscoee -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <!--Custom CSS-->
    <style type="text/css">

    	.halfscreen{
    		position:relative;
    		height:50%;
    		margin-bottom: 0;
    		text-align: center;
    		overflow-y: auto;
        text-shadow: 1px 1px #ff0000;
    	}
    	#topTron{
    		height:35%;
    		background-color: navy;
    		color: white;
        display:none;
    	}
    	#botTron{
    		height:65%;
    		color: navy;
        display:none;
    	}
    	#topText{
    		width:100%;
    		text-align: center;
    		position: absolute;
    		bottom:0;
    		margin-bottom: 5px;
    		max-height: 100%;
        display:none;
    	}
    	#botText{
    		width:100%;
    		text-align: center;
    		position: absolute;
    		top:0;
    		overflow-y: auto;
    	}
    	.gamebtn{
    		color:navy;
    		background-color:rgba(0,0,0,0);
    		text-shadow: 1px 1px #ff0000;
    		border:solid;border-radius:2px;
    		border-width: 1.5px;
    		margin:8px;
    		padding:6px 12px;
    	}
    	#instr{
    		text-shadow: none;    		
    	}
    </style>
  </head>
  <body ng-controller="myController">
		<div id="topTron" class="jumbotron halfscreen">
			<div id="topText">
				<div id="titleScreenTop">
					<h1>
						<strong><em>L</em></strong>oaded <strong><em>Q</em></strong>uestions
					</h1>
				</div>
			</div>
		</div>
		<div id="botTron" class="jumbotron halfscreen">
			<div id="botText">
				<div id="titleScreenBot">
					<h3 style="margin-top:10px">
						<button class="gamebtn" id="newgamebtn">New Game</button><br>
						<button class="gamebtn" id="instrbtn">Instructions</button>
					</h3>
					<div id="instr" style="display:none">
						<div class="container">
						With as little as 3 people, you can start enjoying this tutorial isnt complete
						</div>
					</div>
				</div>
			</div>

	<div class="container" ng-controller="myController" hidden="true">
    <h1>Welcome to the GA Camping Store</h1>
    <br/>
    <h4>Search: <input type="text" ng-model="searchText"></h4> 
    <br/>
    <div class="row">
      <table class="table col-md-9 col-md-offset-3">
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="item in inventory | filter:searchText | orderBy:'category'">
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td ng-class="{ 'on-sale' : item.onSale }">{{ item.price | currency }}</td>
          <td><input type="number" min="0" class="qty" ng-model="item.qty"></td>
          <td>{{ item.qty * item.price | currency }}</td>
          <td><button class="btn-primary" ng-click="addItem(item);">Add</button></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <h2>Your Cart:</h2>
      <ul>
        <li ng-repeat="item in cart | orderBy:'category'">{{ item.qty + ' x ' + item.description }}</li>
      </ul>
      </div>

      <pre>Total Amount of items in cart goes here</pre>
    </div>

		</div>
		<!-- Bootstrap core JavaScript-->
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<!-- Latest compiled BootstrapJS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<!-- My JS -->
		<script>
    //cool intro
      $(document).ready(function(){
        $("#topTron").slideDown(function(){
          $("#topText").fadeToggle(function(){
            $("#botTron").fadeToggle()
          })
        })
      })

  		//button css
  		$(".gamebtn").hover(function(){
  			$(this).css({"background-color":"rgba(0,0,128,.2)"})
  		},function(){
  			$(this).css({"background-color":"rgba(0,0,0,0)"})
  		});

  		//Instructions button click
  		$("#instrbtn").click(function(){
  			$('#instrbtn').fadeToggle(500,function(){
  				$("#instr").fadeToggle(500)
  			});
  		});

      $("#newgamebtn").click(function(){

      })

			angular.module('myApp', []);

			angular.module('myApp')
			.controller('myController', function ($scope) {
			  
			  $scope.inventory = [
			    { id :  1, category : "water bottle", description : "small water bottle",   price :   2.99, qty : 1 },
			    { id :  2, category : "water bottle", description : "large water bottle",   price :   2.99, qty : 1, onSale : true },
			    { id :  3, category : "flashlight",   description : "small flashlight",     price :   6.99, qty : 1 },
			    { id :  4, category : "flashlight",   description : "big flashlight",       price :  12.99, qty : 1 },
			    { id :  5, category : "stove",        description : "small stove",          price :  29.99, qty : 1 },
			    { id :  6, category : "stove",        description : "big stove",            price :  29.99, qty : 1 },
			    { id :  7, category : "sleeping bag", description : "simple sleeping bag",  price :  49.99, qty : 1 },
			    { id :  8, category : "sleeping bag", description : "deluxe sleeping bag",  price :  79.99, qty : 1 },
			    { id :  9, category : "tent",         description : "1-person tent",        price : 119.99, qty : 1 },
			    { id : 10, category : "tent",         description : "2-person tent",        price : 169.99, qty : 1 },
			    { id : 11, category : "tent",         description : "3-person tent",        price : 249.99, qty : 1 },
			    { id : 12, category : "tent",         description : "4-person tent",        price : 319.99, qty : 1 }
			  ];
			  
			  $scope.cart = [];
			  
			  var findItemById = function(items, id) {
			    return _.find(items, function(item) {
			      return item.id === id;
			    });
			  };
			  
			  $scope.addItem = function(item) {
			    var foundItem = findItemById($scope.cart, item.id);
			    if (foundItem) {
			      foundItem.qty += item.qty;
			    }
			    else {
			      $scope.cart.push(angular.copy(item));
			    }
			  };
			  
			});
		</script>
  </body>
</html>